@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    margin: 4rem 2rem;
    background-color: hsl(210, 46%, 95%);
}

.container {
    width: 100%;
    display: grid;
    gap: 2rem;
}

.card {
    padding: 1rem 1.5rem;
    border: 1px solid gray;
    border-radius: .4rem;
}

.card__header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card__header-text p:first-child {
    font-weight: 500;
}

.card__body p:first-child {
    font-weight: 600;
}

.card__header-text,
.card__body p:last-child {
    font-size: 13px;
}

.card__body p {
    margin-top: .7rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
    .container {
        grid-template-columns: 50% auto auto;
    }
}