@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

:root {
    --violet: hsl(263, 55%, 52%);
    --light--violet: rgb(144, 110, 198);
    --dark-gray-blue: hsl(217, 19%, 35%);
    --dark-black-blue:hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    margin: 4rem 2rem;
    background-color: var(--light-grayish-blue, lightblue);
}

.container {
    width: 100%;
    display: grid;
    gap: 1.9rem;
}

.card {
    padding: 1.5rem 1.5rem;
    border-radius: .4rem;
    box-shadow: 51px 60px 89px -9px var(--light-gray);
}

.card__header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card:nth-child(1) {
    background-color: var(--violet, purple);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
}

.card:nth-child(2) {
    background-color: var(--dark-gray-blue, darkgray);
}

.card:nth-child(3),
.card:nth-child(4) {
    background-color: var(--white, white);
}

.card:nth-child(3) .card__body p:first-child,
.card:nth-child(4) .card__body p:first-child {
    opacity: .7;
}

.card:nth-child(1) .card__body p:first-child,
.card:nth-child(2) .card__body p:first-child,
.card:nth-child(5) .card__body p:first-child {
    opacity: .9;
}

.card:nth-child(5) {
    background-color: var(--dark-black-blue, darkblue);
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(5) {
    color: var(--white, white);
}

.card__header-text p:last-child,
.card__header-text p:last-child,
.card__header-text p:last-child {
    opacity: .5;
}

.card:nth-child(1) .card__img,
.card:nth-child(5) .card__img  {
    border: .1rem solid var(--light--violet, purple);
}

.card:nth-child(2) .card__img {
    border: .1rem solid var(--dark-gray-blue, darkgrey);
}

.card:nth-child(3) .card__img,
.card:nth-child(4) .card__img  {
    border: .1rem solid var(--white, white);
}

.card__body p:last-child {
    opacity: .7;
    line-height: .9rem;
}

.card__img {
    max-width: 40px;
    border-radius: 50%;
}

.card__header-text p:first-child {
    font-weight: 500;
}

.card__body p:first-child {
    font-weight: 600;
}

.card__header-text,
.card__body p:last-child {
    font-size: 13px;
}

.card__body p {
    margin-top: .9rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: .5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
    .container {
        grid-template-columns: repeat(4, calc(25% - 1.5rem));
    }

    .card:nth-child(1) {
        grid-column: 1 / 3;
    }

    .card:nth-child(3) {
        grid-column: 4;
        grid-row: 1 / 3;
    }

    .card:nth-child(5) {
        grid-column: 2 / 4;
        grid-row: 2;
    }
}